*{
	box-sizing: border-box;
}
.container{
	
	width:100%;
	height: auto;
}
.visible-text{
	position: relative;
}

.pop-container{
	
	max-width: 500px;
	height:auto;
	position: absolute;
	transform: scale(0);
	color: black;
	border-radius: 10px;
	
}
.pop-child{
	
	max-width: 500px;
	padding:10px;
	background-color: #ffe6e6;
	color: black;
	border-radius: 10px;
}


.pop-container.bottom{
	
	bottom: 350px;
	
}
