*{
	box-sizing: border-box;
}
.container{
	
	width:100%;
	
	height: auto;
}
.visible-text{
	position: relative;
}


.row{
	position: absolute;
	display: flex;
	flex-direction: column;
	transform: scale(0);
	background-color: #ffe6e6;
	color: black;
	
	border-radius: 10px;
	border:1px solid black;
	
	
}
.col{
	
	
	flex:0;
	padding:10px;
	
}
.right{
	position: absolute;
	width: auto%;
	top: 60px;
	left:350px;
	

}
.bottom{
	position: absolute;
	width: auto;
	bottom: 520px;
	left:10px;
}
.top{
	position: absolute;
	width: auto;
	bottom: 590px;
	left:20px;
}
