*{
	box-sizing: border-box;
}
.container{
	
	width:100%;
	height: auto;
}
.visible-text{
	position: relative;
}

.pop-container{
	
	max-width: 500px;
	height:auto;
	position: absolute;
	transform: scale(0);
	color: black;
	border-radius: 10px;
	
}
.pop-child{
	
	max-width: 500px;
	padding:10px;
	background-color: #ffe6e6;
	color: black;
	border-radius: 10px;
}


.pop-container.bottom{
	
	bottom: 350px;
	
}

.popover {
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
	border-radius: 10px;
	overflow: hidden;
	transform: translateY(-100%) translateX(-45%);
	z-index: 999;
}

.popover h6 {
	margin: 0;
	background: #ddd;
	padding: 1rem;
	font-size: 1em;
}

.popover p {
	padding: 1rem;
	margin: 0;
}

.popover--left {
	transform: translateY(-50%) translateX(-105%);
}

.popover--right {
	transform: translateY(-50%);
}

.popover--bottom {
	transform: translateX(-45%);
}